<% include partials/header %>
<% include partials/navbar %>


<section class="content-section bg-light pb-5" style="padding-top: 25px;">
      <div class="container text-center">
        <div class="h1 pt-5 pb-5">
          Image Gallery
        </div>
        <div class="row mb-2">
          <div class="col-md-4">
            <div class="card" style="width: 18rem;">
              <img class="card-img-top" style="height: 250px;" src="img/samidha1.jpeg" alt="Samidha">
              <div class="card-body">
                <h5 class="card-title">Samidha Image</h5>
                <!-- <p class="card-text">Text Goes Here</p> -->
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card" style="width: 18rem;">
              <img class="card-img-top" style="height: 250px;" src="img/samidha2.jpeg" alt="Bluepin">
              <div class="card-body">
                <h5 class="card-title">Bluepin Image</h5>
              <!--   <p class="card-text">Text Goes Here</p> -->
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card" style="width: 18rem;">
              <img class="card-img-top" style="height: 250px;" src="img/samidha3.jpeg" alt="Samidha">
              <div class="card-body">
                <h5 class="card-title">Samidha Image</h5>
           <!--      <p class="card-text">Text Goes Here</p> -->
              </div>
            </div>
          </div>
        </div>

        <div class="row mt-4">
          <div class="col-md-4">
            <div class="card" style="width: 18rem;">
              <img class="card-img-top" style="height: 250px;" src="img/samidha4.jpeg" alt="Samidha">
              <div class="card-body">
                <h5 class="card-title">Samidha Image</h5>
          <!--       <p class="card-text">Text Goes Here</p> -->
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card" style="width: 18rem;">
              <img class="card-img-top" style="height: 250px;" src="img/samidha5.jpeg" alt="Samidha">
              <div class="card-body">
                <h5 class="card-title">Samidha Image</h5>
              <!--   <p class="card-text">Text Goes Here</p> -->
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card" style="width: 18rem;">
              <img class="card-img-top" style="height: 250px;" src="img/samidha6.jpeg" alt="Samidha">
              <div class="card-body">
                <h5 class="card-title">Samidha Image</h5>
          <!--       <p class="card-text">Text Goes Here</p> -->
              </div>
            </div>
          </div>
        </div>


        <div class="row mt-4">
          <div class="col-md-4">
            <div class="card" style="width: 18rem;">
              <img class="card-img-top" style="height: 250px;" src="img/first.jpg" alt="Samidha">
              <div class="card-body">
                <h5 class="card-title">Samidha Image</h5>
        <!--         <p class="card-text">Text Goes Here</p> -->
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card" style="width: 18rem;">
              <img class="card-img-top" style="height: 250px;" src="img/second.jpg" alt="Samidha">
              <div class="card-body">
                <h5 class="card-title">Samidha Image</h5>
         <!--        <p class="card-text">Text Goes Here</p> -->
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card" style="width: 18rem;">
              <img class="card-img-top" style="height: 250px;" src="img/third.jpg" alt="Samidha">
              <div class="card-body">
                <h5 class="card-title">Samidha Image</h5>
            <!--     <p class="card-text">Text Goes Here</p> -->
              </div>
            </div>
          </div>
        </div>

      </div>


    </section>


<% include partials/footercontent %>
<% include partials/footer %>