<% include partials/header %>
<% include partials/navbar %>


<div id="carousel-example-1z" class="carousel slide carousel-fade" data-ride="carousel">

    <ol class="carousel-indicators">
      <li data-target="#carousel-example-1z" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-1z" data-slide-to="1"></li>
      <li data-target="#carousel-example-1z" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">

      <div class="carousel-item active">
        <div class="view" style="background-image: url('img/second.jpg'); background-repeat: no-repeat; background-size: cover;">

          <div class="mask rgba-black-light d-flex justify-content-center align-items-center">

            <div class="text-center white-text mx-5 wow fadeIn">
              <h1 class="mb-4">
                <strong>SAMIDHA</strong>
              </h1>

              
              <p class="mb-4 d-none d-md-block h4">
                A platform that provides you an opportunity to contribute towards building a better and educated society by just giving an hour per week.
              </p>
              <p class="mb-4 d-none d-md-block h4">
                <strong>Register yourself as a volunteer. Get informed about the venue & timings of the next class near you.</strong>
              </p>

              <a href="#center" class="btn btn-outline-white btn-lg">Our Centers
                <i class="fa fa-graduation-cap ml-2"></i>
              </a>
            </div>
        

          </div>

        </div>
      </div>

      <div class="carousel-item">
        <div class="view" style="background-image: url('img/third.jpg'); background-repeat: no-repeat; background-size: cover;">

          <div class="mask rgba-black-light d-flex justify-content-center align-items-center">

            <div class="text-center white-text mx-5 wow fadeIn">
              <h1 class="mb-4">
                <strong>"Education is the most powerful weapon which you can use to change the world."</strong>
              </h1>

              <p class="mb-4 d-none d-md-block">
                <strong>~Nelson Mandela</strong>
              </p>

              <a href="#gallery" class="btn btn-outline-white btn-lg">Image Gallery
                <i class="fa fa-graduation-cap ml-2"></i>
              </a>
            </div>

          </div>


        </div>
      </div>

      <div class="carousel-item">
        <div class="view" style="background-image: url('img/first.jpg'); background-repeat: no-repeat; background-size: cover;">

          <div class="mask rgba-black-light d-flex justify-content-center align-items-center">

            <div class="text-center white-text mx-5 wow fadeIn">
              <h1 class="mb-4">
                <strong>"An investment in knowledge pays the best dividends."</strong>
              </h1>

              <p>
                <strong>~Benjamin Franklin</strong>
              </p>

              <a href="/volunteer/new" class="btn btn-outline-white btn-lg">Join as Volunteer
                <i class="fa fa-graduation-cap ml-2"></i>
              </a>
            </div>


          </div>


        </div>
      </div>


    </div>
    <a class="carousel-control-prev" href="#carousel-example-1z" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carousel-example-1z" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>


  </div>
  <!--/.Carousel Wrapper-->
   <!-- Card Section -->
  <section class="content-section bg-light pt-5 pb-5">
      <div class="container">
        <div class="row d-flex flex-wrap p-2 justify-content-around">
          <div class="col-lg-5 d-flex flex-wrap">
            <div class="text-center rounded p-1 m-1 w-100" style="background-color: #d2dae2">
              <div>
                <h1>Volunteers</h1>
                <ul class="list-group">

                  <% for(var i=0;i<6;i++) {
                   %>
                  <li class="list-group-item list-group-item-light"><%= volunteers[i].fname %> <%= volunteers[i].lname  %></li>
                  <%
                 } %>

                </ul>
                <a href="/volunteer/show"  class="btn btn-light btn-rounded" type="button" name="button3" id="" >See All</a>
              </div>
            </div>
          </div>
          <div class="col-lg-5 d-flex flex-wrap">
            <div class="text-center rounded p-1 m-1 w-100" style="background-color: #d2dae2">
              <h1>Centers</h1>
              <ul class="list-group">
                <li class="list-group-item list-group-item-light">G.B. Pant Engineering College</li>
                <li class="list-group-item list-group-item-light">Satyawati Public School</li>
                <li class="list-group-item list-group-item-light">Shanti Ideal Secondary Public School</li>
                <li class="list-group-item list-group-item-light">Sarvodaya Bal Vidyalaya Tilak Nagar</li>
                <li class="list-group-item list-group-item-light">Hamdard Public School</li>
                  <li class="list-group-item list-group-item-light">Jp School</li>
              </ul>
              <input class="btn btn-light btn-rounded disabled" type="button" name="button5" value="See All" id="" />
            </div>
          </div>

        </div>
      </div>
    </section>

  <!-- Card Section Ends -->


      <!-- Maps Section -->
     <!-- Map section starts -->
    <section class="content-section bg-light pb-5" id="center">
      <div class="container text-center">
        <div class="h1 pt-5 pb-5">
          Our Centers
        </div>
        <div class="row d-flex flex-wrap pb-5">
          <div class="col-lg-12">
              <div id="map" style="width: 100%; height: 70vh;"></div>
           
          </div>
        </div>
    
      </div>
    </section>


    <section class="content-section bg-light" id="gallery">
      <div class="container text-center">
        <div class="h1 pb-5">
          Image Gallery
        </div>
        <div class="row mb-2">
          <div class="col-md-4">
            <div class="card" style="width: 18rem;">
              <img class="card-img-top" style="height: 250px;" src="img/samidha1.jpeg" alt="Samidha">
              <div class="card-body">
                <h5 class="card-title">Samidha Image</h5>
        <!--         <p class="card-text">Text Goes Here</p> -->
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card" style="width: 18rem;">
              <img class="card-img-top" style="height: 250px;" src="img/samidha2.jpeg" alt="Bluepin">
              <div class="card-body">
                <h5 class="card-title">Bluepin Image</h5>
          <!--       <p class="card-text">Text Goes Here</p> -->
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card" style="width: 18rem;">
              <img class="card-img-top" style="height: 250px;" src="img/samidha3.jpeg" alt="Samidha">
              <div class="card-body">
                <h5 class="card-title">Samidha Image</h5>
   <!--              <p class="card-text">Text Goes Here</p> -->
              </div>
            </div>
          </div>
        </div>

        <div class="row mt-4">
          <div class="col-md-4">
            <div class="card" style="width: 18rem;">
              <img class="card-img-top" style="height: 250px;" src="img/samidha4.jpeg" alt="Samidha">
              <div class="card-body">
                <h5 class="card-title">Samidha Image</h5>
       <!--          <p class="card-text">Text Goes Here</p> -->
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card" style="width: 18rem;">
              <img class="card-img-top" style="height: 250px;" src="img/samidha5.jpeg" alt="Samidha">
              <div class="card-body">
                <h5 class="card-title">Samidha Image</h5>
         <!--        <p class="card-text">Text Goes Here</p> -->
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card" style="width: 18rem;">
              <img class="card-img-top" style="height: 250px;" src="img/samidha6.jpeg" alt="Samidha">
              <div class="card-body">
                <h5 class="card-title">Samidha Image</h5>
          <!--       <p class="card-text">Text Goes Here</p> -->
              </div>
            </div>
          </div>
        </div>
        <div class="m-2 p-3">
          <a class="btn btn-light" href="/gallery">See All</a>
        </div>

      </div>


    </section>


      <!-- Image Gallery Ends -->




      <!-- Maps Section Ends -->



<% include partials/footercontent %>

<script>
    var map;
    var markers = [];



    function initMap() {
      map = new google.maps.Map(document.getElementById('map'), {
        center: {lat: 28.557440, lng: 77.235909},
        zoom: 14
      });

      var locations = [
        {title: 'G.B.Pant Government Engineering College', location: {lat: 28.5466629, lng: 77.2694689}},
        {title: 'IIIT-Delhi', location: {lat: 28.5456329, lng: 77.2709618}},
        {title: "Indian Institute of Technology Delhi", location: {lat: 28.5438087, lng: 77.1866282}},
        {title: "Bluebells School International", location: {lat: 28.5585064, lng: 77.2356716}},
        {title: "Lady Shri Ram College For Women", location: {lat: 28.5592995, lng: 77.2358339}},
        {title: "Balwant Rai Mehta Vidya Bhawan ", location: {lat: 28.5632358, lng: 77.2327508}},
        {title: "K S K Academy Sr. Sec. Public School", location: {lat: 28.502293, lng: 77.2455255}},
        {title: "Jagriti Public School", location: {lat: 28.5014574, lng: 77.2445498}},
        {title: "The Frank Anthony Public School", location: {lat: 28.5609192, lng: 77.2333765}},
        {title: "Don Bosco School", location: {lat: 28.528301, lng: 77.2446747}}
      ];

      var largeInfowindow = new google.maps.InfoWindow();
      var bounds = new google.maps.LatLngBounds();


      for(var i=0; i< locations.length; i++) {
        var position = locations[i].location;
        var title = locations[i].title;

        var marker = new google.maps.Marker({
          map: map,
          position: position,
          title: title,
          animation: google.maps.Animation.DROP,
          id: i
        });

        markers.push(marker);

        bounds.extend(marker.position);

        marker.addListener('click', function() {
          populateInfoWindow(this, largeInfowindow);
        });

      }
      function populateInfoWindow(marker, infowindow) {
        if(infowindow.marker != marker) {
          infowindow.marker = marker;
          infowindow.setContent('<div>'+ marker.title + '</div>');
          infowindow.open(map, marker);
          infowindow.addListener('closeclick', function() {
            infowindow.setMarker(null);
          });
        }
      }


    }
  </script>
  <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAfBDYZff3THaoreKMud4u6Q5za01tGY7s&v=3&callback=initMap">

  </script>
  
<% include partials/footer %>
