<% include ../partials/header %>
<% include ../partials/navbar %>
<div class="container " style="margin-top:5rem; ">

  <h1 class="text-center">Join as Volunteer</h1>
  <form action="/volunteer" method="POST" class="mx-auto" style="width:70%;">

    <div class="form-group">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon3"><i class="fa fa-user-circle"></i></span>
        </div>
        <input type="text" name="fname" class="form-control"  aria-describedby="basic-addon3" placeholder="FirstName " required="true">
                                      </div>
      </div>
      <div class="form-group">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon3"><i class="fa fa-user-circle"></i></span>
          </div>
          <input type="text" name="lname" class="form-control"  aria-describedby="basic-addon3" placeholder="Last Name " required="true">
                                      </div>
        </div>
        <div class="form-group">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon4"><i class="fa fa-envelope"></i></span>
            </div>
            <input type="email" name="email" class="form-control"  aria-describedby="basic-addon4" placeholder="Email" required="true">
                                      </div>
          </div>
          <div class="form-group">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon4"><i class="fa fa-home"></i></span>
              </div>
              <input type="text" name="address" class="form-control"  aria-describedby="basic-addon4" placeholder="Address" required="true">
                                      </div>
            </div>

            <div class="form-group">
              <div class="input-group mb-3">
                <label>Center Prefrences : </label>
                <input type="text" name="center1" class="form-control" placeholder="First Prefrence" required="true">
                <input type="text" name="center2" class="form-control" placeholder="Second Prefrence" required="true">
                <input type="text" name="center3" class="form-control" placeholder="Third Prefrence" required="true">
                                      </div>
              </div>

              <div class="form-group">
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon5"><i class="fa fa-phone"></i></span>
                  </div>

                  <input type="text" name="phoneNumber" minlength="10" placeholder="Mobile Number"  aria-describedby="basic-addon5" class="form-control" required="true">
                                      </div>
                </div>
                <button class="btn btn-success"><i class="fa fa-user-plus"></i> Sign Up</button>
  </form>

</div>

<% include ../partials/footercontent %>

<% include ../partials/footer %>
