<% include ../partials/header %>
<% include ../partials/navbar %>
<div class="container">
  <div class=" d-flex  mx-auto  flex-wrap" style="width:70%; margin-top:5rem;">
    <div class="text-center rounded p-1 m-1 w-100" style="background-color: #d2dae2">
      <div>
        <h1 class="text-center">Volunteers</h1>
        <table class="table table-striped">
            <thead>
              <tr>
                <th>Firstname</th>
                <th>Lastname</th>
                <th> Prefered Center</th>
              </tr>
            </thead>
            <tbody>

            <% volunteers.forEach(function(volunteer) {%>
              <tr>
                <td><%= volunteer.fname %></td>
                <td> <%= volunteer.lname %></td>
                <td>  <%= volunteer.center1 %> </td>
              </tr>


          <%  }); %>
        </tbody>
      </table>

      </div>
    </div>
  </div>
</div>

<% include ../partials/footercontent %>
<script src="js/js.js">

</script>
<% include ../partials/footer %>
